<div id="event-<%= event.id %>">
  <div class='row'>
    <div class='col-2 text-right font-weight-bolder'>
      Status
    </div>
    <div class='col-8'>
      <%= event.aasm_state.titleize %>
    </div>
    <div class='col-2'>
      <%= form_with model: event, local: false do |form| %>
        <%= form.hidden_field :archived, value: !event.archived %>
        <%= form.button class: 'btn btn-primary' do %>
          <i class="fas fa-archive"></i>&nbsp; <%= event.archived? ? 'Un-archive' : 'Archive' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if event.error_message.present? %>
    <div class='row'>
      <div class='col-2 text-right font-weight-bolder'>
        Error
      </div>
      <div class='col-10'>
        <pre><%= event.error_message %></pre>
      </div>
    </div>
  <% end %>
  <% if event.error_backtrace&.present? %>
    <div class='row'>
      <div class='col-2 text-right font-weight-bolder'>
        Backtrace
      </div>
      <div class='col-10'>
        <pre class='debug-dump'><%= event.error_backtrace.join("\n") %></pre>
      </div>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-2 text-right font-weight-bolder'>
      Payload
    </div>
    <div class='col-10'>
      <%= ap(event.data).html_safe %>
    </div>
  </div>
</div>