<!DOCTYPE html>
<html>
  <head>
    <title>CrmGateway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="#">CRM Gateway</a>
      <div class="text-white">
        Host: <%= Rails.application.config.sugar_crm[:host] %> &nbsp; &nbsp;
        User: <%= Rails.application.config.sugar_crm[:username] %>
      </div>
    </nav>

    <div class="containter">
      <%= yield %>
    </div>
  </body>
</html>
